<html>
    <head>
        <title>Blog Arthur Confessor</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Arthur Confessor</a></h1>
        </div>

        <div>
            <p>publicado: 21.09.2023, 16:30</p>
            <h2><a href="">Meu Primeiro Post</a></h2>
            <p>Curso de introdução a desenvolvimento WEB com o framework DJANGO</p>
        </div>

        <div>
            <p>publicado: 21.09.2023, 17:30</p>
            <h2><a href="">Meu segundo Post</a></h2>
            <p>Semana da informática 2023</p>
        </div>
    </body>
</html>